.headings{
    font-family:sans-serif;
}
.end-element{
    font-family: sans-serif;
}
.iso-title{
    font-family: sans-serif;
}
.right-container{
    width: 30rem;
    height: 30rem;
}
.home-parent::after{
    display: block;
    content: "";
    background-color: orangered;
    height: 5px;
    width: 300px;
}